<table>
<tr style="background-color:#CCCFDF"><th colspan="2">API Documentation</th></tr>
<tr style="background-color:#CCCFDF"><th>ENDPOINT</th><th>DESC</th></tr>
 % for color,resource in zip(colors,routes) :
   % if resource.callback.__doc__:
       % docx = resource.callback.__doc__.replace("\n","<br/>").replace("\t","<br/>")
       <tr style="background-color:{{ color }}"><td>&nbsp;{{ resource.rule }} &nbsp;</td>
       <td><pre><code class="language-markup"> {{! docx }} </code></pre></td>
       </tr>
   % end
 % end
 </table>